/*
 * Author: Marin Stoyanov
 * Contact: marinski@prleo.com
 */

body { 
	font-size: 62.5%;
	font-family: Calibri;
	background: url(images/page-bg.jpg) top center no-repeat #233743; 
}

h6 {
	font-size: 1.4em;
	margin-bottom: 15px;
}

a { color: white; }

label, li {
	display: block;
	padding: 5px;
	font-size: 3.4em;
	color: #e3f1fa;
}

fieldset {
	margin: 115px auto;
	width: 400px;
	padding: 8px 15px 15px 15px;
	border: 1px solid white;
	display: block; /* IE 7 Requires This */
	}
	legend {
		padding: 4px 6px 4px 6px;
		border: 1px solid white;
		font-size: 4.0em;
		color: #e3f1fa;
		font-style: italic;
	}
	
ul { list-style: none; margin-bottom: 15px;}

.results-bar {
	padding: 10px;
	color: white;
	background: url(images/poll.gif) left center;
	white-space: nowrap;
}

#total-votes {
	font-size: 1.9em;
	color: #fff;
	margin: 5px 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 8px 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.poll-fieldset legend {
	font-size: 2.8em;
}

.btn.results {
	margin-left: 5px;
}